.SiteSearch {
   height: 50px;
   margin: 20px 0px;
}

input {
   width: 300px;
   padding: 5px;
   font-size: 20px;
   border: solid 1px lightgray;
   border-radius: 3px;

}

.button {
   appearance: none;
   background: none;
   color: white;
   background-color: rgb(25,120,242);
   box-shadow: 0 2px 10px rgba(0,0,0,0.25);
   border: solid 2px rgb(25,120,242);
   padding: 5px 20px;
   font-size: 20px;
   border-radius: 3px;
   cursor: pointer;
}